<div class="row">
  <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-4 ">

    <h1>Bienvenidos</h1>

    <h2>Lista de Usuarios</h2>

    <ul>
      <% for(var i = 0; i < usuarios.length; i++) { %>
      <li><%= usuarios[i].nombre %></li>
      <ul class="list-group">
        <% for(var j = 0; j < usuarios[i].pokemons.length; j++) { %>
        <pre>
      <li class="list-group-item">
        <%= usuarios[i].pokemons[j].nombre %>
        <img class="fotoPerfil" src="images/pokemons/<%= usuarios[i].pokemons[j].url %>">
      </li>
    </pre>
        <% } %>
      </ul>
      <% } %>
    </ul>
  </div>
</div>
