<div class="row">
  <div class="col-xs-4 col-xs-offset-4">

    <h1>Login</h1>
    <h4>Ingrese sus datos</h4>

    <form action="auth/login" method="post">

      <label class="control-label" for="usuario"> Usuario: </label>
      <input class="form-control" type="text" name="usuario">

      <label class="control-label" for="password"> Password: </label>
      <input class="form-control" type="password" name="password">
      <br>
      <input class="form-control btn btn-primary" type="submit" value="Submit">
    </form>

  </div>
</div>
